* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.containerlogo {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 90px;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 35px;
  font-weight: bolder;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  color: white;
  font-family: "Shrikhand", cursive;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #3d3c3d;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 15px;
}

.containerlogo {
  width: 100%;
}

a {
  cursor: pointer;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}

.btn {
  border-radius: 40px;
  padding: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  color: white;
}

.btn__order {
  border-radius: 40px;
  padding: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  color: white;
  width: 300px;
  margin: 20px;
  font-size: 24px;
}

.location {
  margin: 20px 0px 0px 0px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.fa-solid {
  padding: 15px;
}

.book {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 25px;
  background-color: #f3f3f3;
}

.options {
  width: 100%;
  padding: 15px;
}
.options__cards {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  column-gap: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .options__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .options__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    padding-top: 20px;
  }
}
.options__li {
  background-color: #f3f3f3;
  border-radius: 25px;
  width: 300px;
  padding: 25px;
  display: flex;
  column-gap: 30px;
  box-shadow: 1px 1px 3px grey;
}

.restaurantscontainer {
  width: 100%;
  padding: 15px;
  background-color: #f3f3f3;
}

.restaurants {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
}
.restaurants__card {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 3px grey;
}

.card__img {
  width: 550px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .card__img {
    width: 350px;
  }
}

.card__info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.restaurant__page {
  background-color: #f3f3f3;
}

.restaurant_img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.menu__container {
  background-color: #f3f3f3;
  border-radius: 80px 80px 0 0;
}

.menu {
  background-color: #f3f3f3;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .menu {
    padding: 15px;
  }
}
.menu__header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 45px;
  border-radius: 80px 80px 0px 0px;
  position: relative;
  margin-top: -70px;
}
.menu__titles {
  background-color: #f3f3f3;
  padding: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.menu__card {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.menu__titles--line {
  font-size: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
}

.menu__titles--line::after {
  content: " ";
  width: 60px;
  height: 3px;
  position: absolute;
  background-color: #99E2D0;
  display: block;
  margin: 10px auto;
}

.btn__container {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .fa-3x {
    font-size: 2em;
  }
}

.header__restaurant {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-top: 25px;
}

.arrowback {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: fit-content;
}

/*# sourceMappingURL=style.css.map */
