@import "./base/base";
@import "./utils/utils";
@import "./components/components";
@import "./layouts/layouts.scss";

.location{
    margin: 20px 0px 0px 0px;
    background-color: #dbdbdb;
    @include flexbox;
    width: 100%;
    height: fit-content;
}

.fa-solid{
    padding: 15px;
}

.book{
    @include flexbox;
    flex-direction: column;
    row-gap: 20px;
    padding:25px;
    background-color: $color-background;
}

.options{
    @include text-space;
    &__cards{
        @include flexbox;
        column-gap: 25px;
        @media only screen and (min-width: 768px) and (max-width: 991px){
            @include flexbox-column;
        }
        @media only screen and (max-width: 768px){
            @include flexbox-column;
            padding-top: 20px;
        }
    }
    &__li{
        background-color: $color-background;
        border-radius: 25px;
        width: 300px;
        padding: 25px;
        display: flex;
        column-gap: 30px;
        box-shadow: 1px 1px 3px grey;
        &:hover{
            box-shadow: 5px 5px 3px grey;  
            cursor: pointer;
            background-color: #e4d5f6;
            color: $color-primary;
        }
    }
}

.restaurantscontainer {
    @include text-space;
    background-color: $color-background;
}

.restaurants{
    @include flexbox;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    &__card{
        width: fit-content;
        height: fit-content;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 1px 1px 3px grey;
        position: relative;
        &:hover{
         box-shadow: 5px 5px 3px grey;
        }
    }
}
.card__newtag{
    position: absolute;
    right: 20px;
    top: 10px;
    width:85px;
    padding:10px;
    border-radius: 10px;
    text-align: center;
    background-color: $color-tertiary;
}

.card__img {
    width: 550px;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    @media only screen and (max-width: 768px){
        width: 350px;
    }
}

.card__info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.restaurants__lovebtn--empty{
    display: block;
    position: absolute;
    right: 10px;
    bottom: 25px;
    opacity: 1;
}

.restaurants__lovebtn--full{
    display: block;
    position: absolute;
    right: -5px;
    bottom: 20px;
    opacity: 0;
    &:hover,  &:active{
        opacity: 1;
    }

}
.restaurant__page{
    background-color: $color-background;
}

.restaurant_img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.menu__container{
    background-color: $color-background;
    border-radius: 80px 80px 0 0;
}

.menu{
    background-color: $color-background;
    width: 100%;
    @media only screen and (max-width: 768px){
        padding: 15px ;
    }
    &__header{
        @include flexbox;
        justify-content: space-between;
        background-color: $color-background;
        padding: 45px;
        border-radius: 80px 80px 0px 0px;
        position: relative;
        margin-top: -70px;
    }

    &__titles{
        background-color: $color-background;
        padding: 20px ;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__card{
        background-color: #ffffff;
        @include flexbox;
        justify-content: space-between;
        width: 95%;
        padding: 20px;
        border-radius:20px;
        margin:20px;
        animation: animate-appear 0.5s;
        animation-fill-mode: backwards;
        animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
        &--hidden{
            background-color: $color-tertiary;
            width: 80px;
            display: flex;
            margin:0;
            padding: 0;
        }
    }
}

.delay01{
    animation-delay: 0.6s;
}

.delay02{
    animation-delay: 0.7s;
}

.delay03{
    animation-delay: 0.8s;
}

.delay04{
    animation-delay: 0.9s;
}

.delay05{
    animation-delay: 0.9s;
}

.delay06{
    animation-delay: 0.9s;
}

.delay07{
    animation-delay: 1.0s;
}

.delay08{
    animation-delay: 1.1s;
}

.delay09{
    animation-delay: 1.2s;
}

.delay10{
    animation-delay: 1.3s;
}

.menu__titles--line{
    font-size: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.menu__titles--line::after{
    content: ' ';
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: $color-tertiary;
    display: block;
    margin: 10px auto;
}

.fa-circle-check{
    color:#ffffff;
}

.btn__container{
    background-color: $color-background;
    @include flexbox;
}

.fa-3x{
    @media only screen and (max-width: 768px){
        font-size: 2em;
    }
}

.header__restaurant{
    @include flexbox-space;
    margin-top: 25px;
}

.arrowback{
    @include flexbox-arrow;
    width: fit-content;
}
