@import "./base/base";
@import "./utils/utils";
@import "./components/components";

.location{
    margin: 20px 0px 0px 0px;
    background-color: #dbdbdb;
    @include flexbox;
    width: 100%;
    height: fit-content;
}

.fa-solid{
    padding: 15px;
}

.book{
    @include flexbox;
    flex-direction: column;
    row-gap: 20px;
    padding:25px;
    background-color: $color-background;
}

.options{
    @include text-space;
    &__cards{
        @include flexbox;
        column-gap: 25px;
        @media only screen and (max-width: 768px){
            @include flexbox-column;
            padding-top: 20px;
        }
    }
    &__li{
        background-color: $color-background;
        border-radius: 25px;
        width: 300px;
        padding: 25px;
        display: flex;
        column-gap: 30px;
        box-shadow: 1px 1px 3px grey;
    }
}

.restaurantscontainer {
    @include text-space;
    background-color: $color-background;
}

.restaurants{
    @include flexbox;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    &__card{
        width: fit-content;
        height: fit-content;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 1px 1px 3px grey;
    }
}

.card__img {
    width: 550px;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    @media only screen and (max-width: 768px){
        width: 350px;
    }
}

.card__info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}