$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f3f3f3;

@mixin flexbox ($justifyContent, $isCenter:false, $direction: row){
    display: flex;
    justify-content: $justifyContent;
    align-content: center;
    flex-direction: $direction;
    
    @if $isCenter{
        align-items: center;
    }
    
    @if $direction == column{
        row-gap:20px;
    }
}

/*
@mixin flexbox-space{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items:center;
}

@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
}

@mixin flexbox-arrow{
    display:flex;
    justify-content: flex-start;
    align-content: center;
}*/