$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f3f3f3;

@mixin flexbox ($justifyContent, $isCenter:false, $direction: row){
    display: flex;
    justify-content: $justifyContent;
    align-content: center;
    flex-direction: $direction;
    
    @if $isCenter{
        align-items: center;
    }
    
    @if $direction == column{
        row-gap:20px;
    }
}
